/* Write your custom CSS here */

#app, .layout {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

a:hover {
  text-decoration: none !important;
}

.logo-header {
  margin-bottom: 10px;
}
.sign-in-logo {
  vertical-align: bottom;
  width: 160px;
}

.footer-text {
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
  font-size: 11px !important;
}

.footer-text img {
  margin: 0 5px;
  width: 88px;

}

.header-title {
  font-size: 1.5em;
  font-weight: 400;
  text-transform: none;
}

.brand-color-bg {
  background: #45A3CF;
}

.signin-page .card {
  min-width: 350px;
}

.page-footer {
  position: fixed;
  bottom: 0;
  z-index: 4;
}

.dashboard-beta {
  position: relative;
  left: -6px;
  top: 2px;
}

.dashboard-beta small {
  color: orange;
}

.fixed-sidebar {
  overflow: auto;
  padding-bottom: 96px;
}

.mn-content.fixed-sidebar .mn-inner {
  padding-left: 245px !important;
  width: 100%;
}

@media(max-width: 1150px) {
  .middle-content {
    width: 100% !important;
  }
}

.card-input {
  /* background: pink; */
  /* height: 3rem; */
  border-bottom: 1px solid #BCBCBC;
}

.sidebar-avatar {

}

.users .btn-floating {
  float: right;
  margin-bottom: 23px;
}

.dialog-content {
  padding: 20px;
}

.user-edit-icon {
  cursor: pointer;
}

p.error {
  text-align: center;
  color: white !important;
  background: #e94c4c;
}